@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Thin 100
Light 300
Regular 400
Medium 500
Bold 700
Black 900
Thin 100 Italic
Light 300 Italic
Regular 400 Italic
Medium 500 Italic
Bold 700 Italic
Black 900 Italic */

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothinig: grayscale;

  --white: #fff;
  --green: rgb(174 255 233 / 90%);
  --gray: #f8f9fb;
  --gray-500: #6B6A99;
  --purple-100: #F2EEFB;
  --purple-200: #C3AEFF;
  --purple-300: #9A81E1;
  --purple-500: #3604C4;
  --purple-600: #414075;
  --purple-700: #200179;
  --purple-900: #0D0327;
  --red-500: #ff2776;
  --small: 14px;
  --medium: 16px;
  --large: 18px;
  --extra-large: 24px;
  --extra-extra-large: 32px;
}

*{
  font-family: Roboto, sans-serif;
  color: var(--purple-700);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .logo {
    margin-right: 32px;
  }

  & .logo:hover {
    margin-right: 32px;
    opacity: 0.8;
  }

  & .logo:active {
    margin-right: 32px;
    opacity: 0.5;
  }

  & .nav-container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  & .category-container {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}

body {
  background-color: var(--gray);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

p {
  margin: 0;
}

.error-message{
  color: var(--red-500);
  margin: 0;
}